# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.js
.yarn

# next.js
.next
out
.swc

# production
build

# local env files
.env
.env*.local
.DS_STORE

# python
.tox/
.operate/
.operate*/
__pycache__/
data/
backend/temp/
backend/tmp/

tmp/
temp/

!operate/data

dist
build

cache
leak_report

*.dist
*.build
bins

# logs
*.log