[tool.poetry]
name = "olas-operate-app"
version = "0.2.0-rc272"
description = ""
authors = ["David Vilela <dvilelaf@gmail.com>", "Viraj Patel <vptl185@gmail.com>"]
readme = "README.md"
packages = []
include = []

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
olas-operate-middleware = { git = "https://github.com/valory-xyz/olas-operate-middleware.git", rev = "38ee7888fd04a8b1fc75a778c59711f9dea98e2e"}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
