[tool.poetry]
name = "olas-operate-app"
version = "0.2.0-rc249"
description = ""
authors = ["David Vilela <dvilelaf@gmail.com>", "Viraj Patel <vptl185@gmail.com>"]
readme = "README.md"
packages = []
include = []

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
olas-operate-middleware = { git = "https://github.com/valory-xyz/olas-operate-middleware.git", rev = "7494bce68a4c310d83024c4b8958e436a7af0f50"}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
