[tool.poetry]
name = "olas-operate-app"
version = "1.0.4-rc21"
description = ""
authors = ["David Vilela <dvilelaf@gmail.com>", "Viraj Patel <vptl185@gmail.com>"]
readme = "README.md"
package-mode = false
packages = []
include = []

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
olas-operate-middleware = { git = "https://github.com/valory-xyz/olas-operate-middleware.git", rev = "db75aa0118aadd3e26848b7afebedbcfe43eab55" }

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"