[tool.poetry]
name = "olas-operate-app"
version = "1.0.0-rc4"
description = ""
authors = ["David Vilela <dvilelaf@gmail.com>", "Viraj Patel <vptl185@gmail.com>"]
readme = "README.md"
package-mode = false
packages = []
include = []

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
olas-operate-middleware = "0.11.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"