[tool.poetry]
name = "olas-operate-app"
version = "1.1.1-rc62"
description = ""
authors = ["David Vilela <dvilelaf@gmail.com>", "Viraj Patel <vptl185@gmail.com>"]
readme = "README.md"
package-mode = false
packages = []
include = []

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
olas-operate-middleware = { git = "https://github.com/valory-xyz/olas-operate-middleware", rev = "1302e85a1f597c179088f50ecebb0f9b4ee062be" }

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"