[tool.poetry]
name = "olas-operate-app"
version = "1.0.4-rc16"
description = ""
authors = ["David Vilela <dvilelaf@gmail.com>", "Viraj Patel <vptl185@gmail.com>"]
readme = "README.md"
package-mode = false
packages = []
include = []

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
olas-operate-middleware = { git = "https://github.com/valory-xyz/olas-operate-middleware", rev = "513221afc562ed31ffcc55de5a2b2b23a7026135" }

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
