[tool.poetry]
name = "olas-operate-app"
version = "1.0.0-rc11"
description = ""
authors = ["David Vilela <dvilelaf@gmail.com>", "Viraj Patel <vptl185@gmail.com>"]
readme = "README.md"
package-mode = false
packages = []
include = []

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
olas-operate-middleware = { git = "https://github.com/valory-xyz/olas-operate-middleware.git", rev = "ee6ef6821962aa65c5e36ba86d695807f667c5c4" }
[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
