[tool.poetry]
name = "olas-operate-app"
version = "0.2.0-rc186"
description = ""
authors = ["David Vilela <dvilelaf@gmail.com>", "Viraj Patel <vptl185@gmail.com>"]
readme = "README.md"
package-mode = false
packages = []
include = []

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
olas-operate-middleware = { git = "https://github.com/valory-xyz/olas-operate-middleware.git", rev = "4e717294db1bc2ac740ed88b19e89bde228d8f10"}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
