[tool.poetry]
name = "olas-operate-app"
version = "1.1.1-rc21"
description = ""
authors = ["David Vilela <dvilelaf@gmail.com>", "Viraj Patel <vptl185@gmail.com>"]
readme = "README.md"
package-mode = false
packages = []
include = []

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
olas-operate-middleware = { git = "https://github.com/valory-xyz/olas-operate-middleware.git", rev = "8b1517412dca3501b59c60f9b1fc672e228d9a2f" }

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"