[tool.poetry]
name = "olas-operate-app"
version = "1.0.4-rc5"
description = ""
authors = ["David Vilela <dvilelaf@gmail.com>", "Viraj Patel <vptl185@gmail.com>"]
readme = "README.md"
package-mode = false
packages = []
include = []

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
olas-operate-middleware = { git = "https://github.com/valory-xyz/olas-operate-middleware", rev = "44b0ce22a70c0eea2dcac631ba65a3a2d9e9bdcf" }

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
