[tool.poetry]
name = "olas-operate-app"
version = "1.0.3-rc7"
description = ""
authors = ["David Vilela <dvilelaf@gmail.com>", "Viraj Patel <vptl185@gmail.com>"]
readme = "README.md"
package-mode = false
packages = []
include = []

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
olas-operate-middleware = { git = "https://github.com/valory-xyz/olas-operate-middleware.git", rev = "cb2e88cc0e26840049c4e71b6f779dcc13a36694" }
[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
