[tool.poetry]
name = "olas-operate-app"
version = "1.4.1-rc3"
description = ""
authors = ["David Vilela <dvilelaf@gmail.com>", "Viraj Patel <vptl185@gmail.com>"]
readme = "README.md"
package-mode = false
packages = []
include = []

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
olas-operate-middleware = "0.14.18"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"