name: Production Release

on:
  push:
    branches:
      - "release/*"

permissions:
  contents: write

jobs:
  calculate-version:
    # Avoid looping on commits created by the action itself.
    if: ${{ github.actor != 'github-actions[bot]' && !contains(github.event.head_commit.message, '[skip release]') }}
    uses: ./.github/workflows/create-release-tag.yml
    with:
      version_strategy: production
    secrets: inherit

  run-release:
    needs: calculate-version
    if: ${{ github.actor != 'github-actions[bot]' && !contains(github.event.head_commit.message, '[skip release]') }}
    uses: ./.github/workflows/release.yml
    with:
      tag: ${{ needs.calculate-version.outputs.new_tag }}
    secrets: inherit

  run-release-win:
    needs: calculate-version
    if: ${{ github.actor != 'github-actions[bot]' && !contains(github.event.head_commit.message, '[skip release]') }}
    uses: ./.github/workflows/release_win.yml
    with:
      tag: ${{ needs.calculate-version.outputs.new_tag }}
    secrets: inherit